.btn-profile-close {
    display: flex;
    flex-direction: row-reverse;
}

.did-address {
    font-size: 0.8em;
}

.did-document {
    font-size: 0.7em;
}

.container-did-adress {
    border: ridge var(--color-orange);
    padding: 12px;
    word-break: break-all;
}

.line-profile {
    border: 0.5px solid black;
    width: 100%;
}


.avatar {
    width: 100px;
    height: 100px;
    padding: 10px;
}