.panel{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-inside {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
}