{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "impliedStrict": true,
        "modules": true,
        "blockBindings": true,
        "arrowFunctions": false,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "templateStrings": true,
        "classes": true
      }
    },
    "env": {
      "node": true,
      "browser": true
    },
    "globals": {
      "chrome": "writable",
      "document": "readonly",
      "navigator": "readonly",
      "web3": "writable",
      "window": "readonly",
      "dispatch": "writable"
    },
    "rules": {
      "eol-last": 0,
      "quotes": [
        2,
        "single"
      ],
      "no-unused-vars": "off",
      "radix":"warn",
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "class-methods-use-this": ["error", { "exceptMethods": ["hideAdress"] }],
      "no-underscore-dangle": ["error", { "allowAfterThis": true }]
    }
}