/* .logoHome {
    height: 45px;
    width: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.horizontalLine {
    border: 0.5px solid black;
    width: 295px;
}

.basicInfoHome {
    font-size: 10pt;
}

.tableValidation {
    margin-top: 2px;
    margin-left: 0px;
}

.sectionValidation {
    margin-top: 40px;
}

.titleValidation {
    font-weight: bold;
    margin-bottom: -15px;
}

.sectionBasicInfo {
    margin-top: 70px;
} */

.fund {
    position: absolute;
    width: 351.1px;
    height: 234px;
    background: var(--color-orange);
}

.hollonApp {
    padding: 0;
}

.card-fund {
    position: relative;
    height: 80%;
    width: 80%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30%;
    margin-left: 12%;
}

.card-text {
    flex-direction: column;
    margin-top: 30%;
    font-size: 10px;
}