.logoHome {
    height: 45px;
    width: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.horizontalLine {
    border: 0.5px solid black;
    width: 295px;
}

.basicInfoHome {
    font-size: 10pt;
}

.tableValidation {
    margin-top: 20px;
}

.sectionValidation {
    margin-top: 40px;
}

.titleValidation {
    font-weight: bold;
    margin-bottom: -15px;
}

.sectionBasicInfo {
    margin-top: 70px;
}