.fund-orange {
    position: absolute;
    top: 0;
    left: 0;
    height: 518px;
    width: 100%;
    background: linear-gradient(180deg, var(--color-orange) 50%, transparent 50%);
}

.card-fund {
    position: relative;
    height: 209px;
    width: 87%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 6%;
}

.card-text {
    height: 150px;
    margin-top: 10%;
    font-size: 11px;
}

.logo-home {
    margin-left: 73%;
}

.linha-home {
    background-color: var(--color-black);
    height: 1px;
    width: 100%;
    margin-top: 5px;
}

.validations-title {
    width: 300px;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10%;
}