* {
    margin: 0;
}

#title-backup {
    margin-top: 20px;
}

.paragraph-explication {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.backup-phrase {
    border: ridge var(--color-orange);
}

.mnemonic-returned {
    display: flex;
    height: 80px;
    align-items: center;
    font-size: 18px;
    padding: 5px;
}

.paragraph-pk{
    margin-top: 36px;
}

.privateKey-returned {
    border: ridge var(--color-orange);
    display: flex;
    height: 80px;
    padding: 5px;
    font-size: 16px;
    align-items: center;
    word-break: break-word;
}