.logo {
    height: 85px;
    width: 90px;
}

.subtitle {
    font-size: 12pt;
    font-weight: bolder;
}

#gridPrincipal {
    margin-top: 130px;
    margin-bottom: 130px;
}

#rowButton {
    margin-top: 25px;
}