.margin-top-50 {
    margin-top: 50px;
}

.margin-top-30 {
    margin-top: 30px;
    display: inline-block;
}

.large-textarea {
    height: 280px;
}


.logo {
    height: 85px;
    width: 90px;
}

.line {
    width: 100vw;
    height:2px; 
    border:none; 
    color:#000; 
    background-color:#000; 
    margin-top: 30px; 
    margin-bottom: 0px
}
