#title-add {
    margin-top: 5px;
    margin-bottom: 0px;
}

.input-add-info {
    border: 1px solid var(--color-black);
    border-radius: 10px;
}

.btn-blockchain {
    margin: 16px;
}

.btn-browser {
    margin: 16px;
}

.btn-add-close {
    display: flex;
    flex-direction: row-reverse;
}

.label-add {
    margin-top: 13px;
}

