.ipfs-image {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.hash-ipfs {
    border: ridge var(--color-orange);
    height: 50px;
    margin-left: 15px;;
}

.hash-ipfs-return {
    height: 35px;
    margin: 6px; 
}

.title-ipfs {
    display: flex;
    margin-left: 15px;
} 