.loader-body {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 50vh;
  background-color: var(--color-white);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--color-orange);
  border-radius: 50%;
  width: 100px;
  height: 100px;   
  animation: spin 2s linear infinite;
  background-color: var(--color-white);
  margin: 0 auto;
  opacity: 1;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}