.loaderBody {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
 padding-top: 20px;
}

.loaderText {
  padding-top: 10px;
  display: flex;
  align-self: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid var(--color-orange);
  border-radius: 50%;
  width: 65px;
  height: 65px;   
  animation: spin 2s linear infinite;
  background-color: var(--color-white);
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}