* {
    margin: 0;
}

.btn-menu-close {
    display: flex;
    flex-direction: row-reverse;
}

#title-menu {
    margin-top: 5px;
    margin-bottom: 0px;
}

.line-menu {
    border: 0.5px solid black;
    width: 100%;
}

.links{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    color:#000; 
} 

.links2 {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}

.space-icon-p {
    margin-left: 20px;
    color: #000;
}

#glyph-color {
    color: #000;
}

#dropdown {
    margin: 0 20px;
}

.destination-icon {
    margin: 10px
}